body {
    background-color: #f8f9fa;
}

.navbar-default {
    background-color: white;
}

.container-fluid {
    max-width: 1140px;
}

.panel {
    box-shadow: 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
}

.intervention-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
