<div class=row>

    <h2>
        Liste des interventions
        <button type="button" class="btn btn-success pull-right" style="margin-left: 5px;" ng-click="$ctrl.displayModal(null)">Nouvelle intervention</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.getInterventions(true)" ng-if="$ctrl.isDraft == false">Afficher les brouillons</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.getInterventions(false)" ng-if="$ctrl.isDraft == true">Afficher les interventions</button>
    </h2>

    <div id="myModal" class="intervention-modal" ng-if="$ctrl.isModalDisplayed">
        <div class="panel col-md-6 col-md-offset-3">
            <div class="panel-heading">
                <h4>
                    {{ $ctrl.interventionDetails.label }}
                    <span class="close pull-right" ng-click="$ctrl.closeModal()">&times;</span>
                </h4>
            </div>

            <div class="panel-body">

                <form novalidate>

                    <div class="form-group">
                        <label>Libellé</label>
                        <input  type="text" class="form-control" ng-model="$ctrl.interventionDetails.label">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <div class="input-group date" data-date-format="dd.mm.yyyy">
                            <input type="date" class="form-control" ng-model="$ctrl.interventionDate">
                            <div class="input-group-addon" >
                            <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Intervenant</label>
                        <input  type="text" class="form-control" ng-model="$ctrl.interventionDetails.serviceman_name">
                    </div>
                    <div class="form-group">
                        <label>Lieu</label>
                        <input  type="text" class="form-control" ng-model="$ctrl.interventionDetails.place_name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" ng-model="$ctrl.interventionDetails.description">{{ $ctrl.interventionDetails.description }}</textarea>
                    </div>

                    <button type="button" class="btn btn-primary" ng-if="$ctrl.isUpdating == true" ng-click="$ctrl.update()" ng-disabled="$ctrl.requestDisabled">Enregistrer et fermer</button>
                    <span ng-if="$ctrl.requestDisabled && $ctrl.isUpdating">Cette intervention est terminée et ne peut plus être modifiée.</span>
                    <button type="button" class="btn btn-primary" ng-if="$ctrl.isUpdating == false" ng-click="$ctrl.create()">Créer et fermer</button>
                    <button type="button" class="btn btn-danger pull-right" ng-if="$ctrl.isUpdating == true" ng-click="$ctrl.del()">Supprimer</button>

                </div>

            </form>

        </div>
    </div>

    <div class="panel">
        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Libellé</th>
                        <th scope="col">
                            Date
                            <span class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.orderDate('descending')" ng-if="$ctrl.orderMode == 'ascending'" title="Dates croissantes"></span>
                            <span class="glyphicon glyphicon-arrow-down" ng-click="$ctrl.orderDate('ascending')" ng-if="$ctrl.orderMode == 'descending'" title="Dates décroissantes"></span>
                        </th>
                        <th scope="col">Intervenant</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="intervention in $ctrl.interventions" ng-click="$ctrl.displayModal(intervention)">
                        <td>{{ intervention.label }}</td>
                        <td>{{ intervention.date }}</td>
                        <td>{{ intervention.serviceman_name }}</td>
                        <td>{{ intervention.place_name }}</td>
                        <td>{{ intervention.description }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
